.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.drag-area-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed rgb(250, 51, 51);
    border-radius: 5px;
    width: 800px;
    margin: 200px 0 100px 0;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
}
.drag-area-container .button{
    background-color: rgb(250, 51, 51);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}
.preview-container{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    align-items: center;
    width: 800px;

}
.image-box{
    border: 1px solid gray;
}

.preview-border{
    border: 1px solid red;
}
.txt-box, .csv-box, .other-box, .image-box{
    width: 110px;
    height: 110px;
    margin: 10px;
}

.other-box{
    border: 2px solid red;
}
.icon{
    width: 25px;
    height: 25px;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
   /* color: rgb(255, 255, 255); */
   z-index: 99;
   visibility: hidden;

}
.previewBlock{
    position: relative;
}
.previewBlock:hover .icon{
    visibility: visible;
}
@media (max-width: 768px){
    .preview-container{
        width: 500px;
    }
    .image-box{
        width: 75px;
        height: 75px;
    }
    .txt-box{width: 75px;height: 75px;}
    .csv-box{width: 75px;height: 75px;}
    .other-box{width: 75px;height: 75px;}
    .drag-area-container{
        width: 500px;
        margin: 40px 0 20px 0;
    }
    
}
